
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="main.js"></script>
</head>
<body>
   <div ng-app="myApp" ng-controller="myCtrl">
    <p>Input something in the input box:</p>
    <h1>First Name : <input type="text" ng-model="firstname" placeholder="Enter First Name"></h1>
    <h1>Last Name: <input type="text" ng-model="lastname" placeholder="Enter Last Name"></h1>
    <h1>Full Name: {{firstname + " " + lastname}}</h1>

   </div> 
</body>
</html>